@use "reset";
@use "var";

$bgc_color: #e9ebff;
$btn_hv_color: #e0c9f7;
$text_color: #777;

.contact-lead-box{
width: fit-content;
margin: 0 auto 30px;
padding: 20px;
}
.contact-lead{
width: fit-content;
margin: 0 auto 10px;
color: #fff;
border-bottom: 2px dotted #fff;
}

.form-container{
max-width: 600px;
margin: 50px auto 0;
color: $text_color;
font-family: var.$font_en_h2;
background-color: $bgc_color;
border-radius: 10px;
padding: 50px 0 0;
  @media(width <= 767px){
  width: 90%;
  }
}
.contact-title{
font-size: 30px;
text-align: center;
}

.form-wrapper{
width: 80%;
margin: 0 auto;
padding-bottom: 30px;
  @media(width <= 767px){
  width: 90%;
  }
}

.form-list{
position: relative;
margin: 30px 0;
}

#list1,
#list2,
#list3{
display: inline-block;
}
.form-list>label{
position: absolute;
top: 0;
font-size: 16px;
margin: 10px;
padding: 0 10px;
font-size: clamp(0.875rem, 0.813rem + 0.25vw, 1rem);
background-color: $bgc_color;
cursor: pointer;
-webkit-transition: top .2s ease-in-out, 
                    font-size .2s ease-in-out;
transition: top .2s ease-in-out, 
            font-size .2s ease-in-out;
    &.active{
    top: -25px;
    font-size: 16px;
    }
}

#name,
#email,
#messege:focus {
outline: none;
}

#name,
#email
{
width: 100%;
padding: 10px;
border: 1px solid $text_color;
font-size: 16px;
background-color: $bgc_color;
color: $text_color;
}
#messege{
width: 100%;
padding: 20px 20px 60px;
border: 1px solid $text_color;
font-size: 16px;
background-color: $bgc_color;
color: $text_color;
}

.list-wrapper{
width: 80%;
display: flex;
margin: 30px auto 0;
gap: 0 30px;
  >label{
  position: relative;
  background-color: transparent;
  transition: none;
  display: block;
  cursor: pointer;
  transition: .4s;
    &:hover{
    translate: 0 -2px;
    }
  }
}



@media(width <= 767px){
.list-wrapper{
flex-direction: column;
  >label{
  margin: 4px 0;
  }
}
}
[type="radio"]{
margin-right: 8px;
cursor: pointer;
}

.submission-area{
display: grid;
place-items: center;
min-height: 100px;
padding-bottom: 30px;
}

.submit-btn,
.thx-txt{
grid-area: 1 / 1;
transition: opacity 0.3s;
}
.submit-btn{
display: block;
overflow: hidden;
border: 1px solid $text_color;
transition: .4s;
  &:hover{
  background-color: $btn_hv_color;
  translate: 0 -3px;
  }
}
input[type="submit"] {
    width: 100%;
    height: 100%;
    padding: 8px 30px;
    background: none;
    border: none;
    color: $text_color;
    cursor: pointer;
    display: block;
    outline: none;
  }

.thx-txt{
display: block;
opacity: 0; 
pointer-events: none;
text-align: center;
font-size: clamp(0.75rem, 0.625rem + 0.5vw, 1rem);
}

.thx-txt.is-active{
opacity: 1;
pointer-events: auto;
}