@use "reset";
@use "var";

.like-wrapper {
  padding: 100px 0;
  background-color: #b9c0fca6;
  overflow-x: hidden;
}

.circle-wrapper {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px auto;
  padding: 20px;
}

.circle-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rotating-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  animation: rotation 20s linear infinite;

  .game-text {
    font-size: 26px;
    font-weight: bold;
    fill: #fff;
    letter-spacing: 5px;
  }

  .anime-text {
    font-size: 18px;
    font-weight: bold;
    fill: #fff;
    letter-spacing: 3px;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.fav-circle {
  position: relative;
  z-index: 1;
  width: 300px;
  height: 300px;
  background-color: #e9c1d4;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 10px #0000001a;
}

.fav-title {
  color: #fff;
  font-size: 24px;

  line-height: 1.4;
  margin: 0;
}

.fav-lead {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4;
  margin: 10px 0 0;
}