@use "reset";
@use "var";
@use "sub_header";
@use "scroll-bar";
@use "top-button";

body {
  position: relative;
  color: #fff;
}

/* main */
.container {
  max-width: 1200px;
  margin: 50px auto;
  display: flex;
  padding-top: 50px;
}

.img-wrapper {
  width: 50%;
  margin: 0 auto;
}

.img-box {
  width: 50%;
  margin: 20px auto;

  >a>img {
    cursor: zoom-in;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.lead-wrapper {
  width: 50%;
  margin: 0 auto;
}

.lead {
  padding: 20px;
  backdrop-filter: blur(30px);
  border-radius: 20px;
  border: 2px solid #fff;

  @media(width <=600px) {
    padding: 0 20px 20px;
    margin: 0;
  }
}

.title-name {
  display: inline-block;
  margin-bottom: 20px;
  font-size: clamp(1.5rem, 1.375rem + 0.5vw, 1.75rem);
  color: #fff;
}

h3 {
  border-bottom: 1px solid #fff;
  margin: 30px 0 10px;
  font-size: clamp(1.125rem, 1.063rem + 0.25vw, 1.25rem);
}

p {
  font-size: clamp(0.75rem, 0.625rem + 0.5vw, 1rem);
  line-height: 1.6;
}

li {
  font-size: clamp(0.75rem, 0.625rem + 0.5vw, 1rem);
}

@media (width <=1400px) {
  .contaimer {
    padding-top: 20px;
  }

  .img-wrapper {
    height: 100%;
    width: 40%;
  }

  .lead-wrapper {
    width: 60%;
    height: 100%;
    padding: 0;
  }
}

@media (width <=1000px) {
  body {
    height: 100vh;
  }
}


/* 600px以下 */
@media (width <=600px) {
  body {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .img-wrapper {
    width: 90%;
    margin: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 10px;
    gap: 0 20px;
  }

  .img-box {
    flex: 0 0 70%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }

  .lead-wrapper {
    width: 100%;
    margin: 20px auto;
  }

  .lead {
    position: static;
    margin: 0 20px;
  }

  h1 {
    font-size: 24px;
  }
}