@use "reset";
@use "var";
@use "sub_header";
@use "scroll-bar";
@use "top-button";

@mixin tab {
    @media(width <=var.$point_tab) {
        @content;
    }
}

$txt_color: #777;

body {
    position: relative;
    color: $txt_color;
}

/* main */
.container {
    max-width: 1200px;
    margin: 60px auto;
    padding-top: 50px;
}

.img-wrapper {
    width: 60%;
    height: 300px;
    margin: 0 auto 30px;

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

.lead-wrapper {
    width: 80%;
    margin: 0 auto;
}

.lead {
    padding: 40px 100px;
    background: #ffffff75;
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(10.4px);
    -webkit-backdrop-filter: blur(10.4px);
    border: 1px solid #ffffff42;
    border-radius: 10px;

    @include tab() {
        padding: 20px;
    }
}

.title-name {
    display: inline-block;
    margin-bottom: 20px;
    font-size: clamp(1.25rem, 1rem + 1vw, 1.75rem);
}

h3 {
    border-bottom: 1px solid $txt_color;
    margin: 30px 0 10px;
    font-size: clamp(1rem, 0.875rem + 0.5vw, 1.25rem);
}
.design-list>li{
    padding-bottom: 10px;
}
.theme-read, .design-lead, .imp-lead{
    font-size: 14px;
}

.back-btn {
    display: block;
    width: 200px;
    height: 50px;
    margin: 50px auto;
    place-content: center;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    box-shadow: 0 0 20px #eee;
    border: 1px solid #fff;
    border-radius: 10px;
    background-image: linear-gradient(to right, #cd8fdb 0%, #9096e9 51%, #b895f0 100%);

    >a {
        color: #fff;
    }

    &:hover {
        background-position: right center;
        cursor: pointer;
    }
}

.category-wrapper {
    display: flex;
    justify-content: start;
    gap: 10px;
    flex-wrap: wrap;
}

.category {
    padding: 2px 10px;
    border-radius: 10px;
    color: #fff;
}

[data-caregory="html"] {
    background-color: var.$filter_color_1;
}

[data-caregory="js"] {
    background-color: var.$filter_color_2;
}

[data-caregory="jq"] {
    background-color: var.$filter_color_3;
}

[data-caregory="sass"] {
    background-color: var.$filter_color_4;
}

[data-caregory="php"] {
    background-color: var.$filter_color_5;
}

[data-caregory="wp"] {
    background-color: var.$filter_color_6;
}

[data-caregory="sql"] {
    background-color: var.$filter_color_7;
}

[data-caregory="react"] {
    background-color: var.$filter_color_8;
}

.page-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 20px 0;
    padding: 0 10px;
    height: 34px;
    background-color: #d0b5ee;
    border: 2px solid #fff;
    border-radius: 6px;
    transition: .4s;
    color: $txt_color;
    letter-spacing: 3px;
    font-size: clamp(0.625rem, 0.438rem + 0.75vw, 1rem);
    gap: 5px;

    >a {
        color: #fff;
    }

    &::after {
        content: '';
        display: block;
        background: url(../img/window.svg) no-repeat center/contain;
        width: 14px;
        height: 14px;
    }

    &:hover {
        background-color: #b0c6e6;
    }
}

@media (width <=1400px) {
    .img-wrapper {
        width: 40%;
    }

    .lead-wrapper {
        width: 60%;
        height: 100%;
        padding: 0;
    }
}


/* 600px以下 */
@media (width <=600px) {
    .lead-wrapper {
        width: 100%;
        margin: 10px auto;
    }

    .title-name {
        margin: 0 10px 10px;
    }

    .lead {
        position: static;
        margin: 0 20px;
    }

    h1 {
        font-size: 24px;
    }
}